<div ng-controller="codecManagementCtrl">

    <!--page title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div class="title_left">
                    <h3>Codec Management</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <button type="button" class="btn btn-primary" ng-disabled="!clientCompany" ng-click="onClickCollapsed()">{{collapsedButton}}</button>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>

            <div class="col-md-1 col-sm-1 col-xs-1" style="position: relative; top: 10px">
                <label><b>Company</b></label>
            </div>

            <fieldset class="col-md-3 col-sm-3 col-xs-12" ng-disabled="collapsedButton === 'Back'">
                <select class="select2_single form-control" tabindex="-1" ng-change="onCompanySelect()"
                        aria-hidden="true"
                        id="company"
                        name="company" ng-model="clientCompany"
                        ng-model-options="{trackBy: '$value'}">
                    <option ng-repeat="comp in companyList" value="{{comp.companyId}}">{{comp.companyName}}
                    </option>
                </select>
            </fieldset>
        </div>
        <div ng-if="collapsedButton === 'Back'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x-title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>{{status}} Codec Preference</h2>
                    <div class="ln_solid"></div>
                </div>

            </div>
            <div class="clearfix"></div>
            <br>

            <div class="x-content">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <fieldset class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-disabled="status === 'Update'">
                            <label>Context 1</label>
                            <select class="form-control" ng-options="item.Context as item.Context for item in contextList" ng-model="context.context1">
                            </select>
                        </fieldset>
                        <fieldset class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-disabled="status === 'Update'">
                            <label>Context 2</label>
                            <select class="form-control" ng-options="item.Context as item.Context for item in contextList" ng-model="context.context2">
                            </select>
                        </fieldset>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h4><b>Available Codecs</b></h4>
                        <div style="border-style: solid; padding: 10px">
                            <ul data-as-sortable="codecSortableGroup" data-ng-model="availableCodecs" style="position: relative; left: -40px; min-height: 40px;">
                                <li ng-repeat="item in availableCodecs" data-as-sortable-item style="background-color: #2694e8; color: black; font-weight: bold; padding: 4px">
                                    <div data-as-sortable-item-handle>
                                        {{item}}
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h4><b>Used Codecs</b></h4>
                        <div style="border-style: solid; padding: 10px">
                            <ul data-as-sortable="codecSortableGroup" data-ng-model="currentCodecs" style="position: relative; left: -40px; min-height: 40px;">
                                <li ng-repeat="item in currentCodecs" data-as-sortable-item style="background-color: green; color: black; font-weight: bold; padding: 4px">
                                    <div data-as-sortable-item-handle>
                                        {{item}}
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button type="submit" class="btn btn-success"
                                    ng-click="addUpdateCodecPreference()">{{status}}
                            </button>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button ng-if="status === 'Save'" class="btn btn-primary"
                                    ng-click="resetForm()">Reset
                            </button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div ng-if="collapsedButton === 'Assign New Codec'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x-title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Current Codec Preferences</h2>
                    <div class="ln_solid"></div>
                </div>

            </div>
            <div class="clearfix"></div>
            <br>

            <div class="x-content">
                <div class="form-group">
                    <div class="x_panel col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in currentCodecPrefs">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <b>{{item.Context1}} | {{item.Context2}}</b>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <label ng-repeat="codec in item.Codecs">
                                {{codec}} &nbsp;
                            </label>
                        </div>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link" ng-click="editCodecPreference(item)"><i class="fa fa-edit edit-package"></i></a>
                            </li>
                            <li><a class="collapse-link" ng-click="removeCodecPreference(item.id)"><i class="fa fa-trash-o remove-package"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>


</div>