<!--<div ng-if="currentcurrentServerItem.isLoading"-->
<!--class="loading-current-view">-->
<!--&lt;!&ndash;  loader  &ndash;&gt;-->
<!--<svg class="circular">-->
<!--<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"></circle>-->
<!--</svg>-->
<!--<div class="loader-section"></div>-->
<!--</div>-->

<div ng-if="currentServerItem.ServiceStatus==false"
     class="server-offline-widget animated fadeIn">
    <div class="offline-header">
        SERVER OFFLINE
    </div>
    <div class="col-lg-12">
        <div class="offline-icon">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
    </div>

    <div class="row">
        <div class="server-offline-txt">
            <div class="col-lg-4">
                <div class="error-msg-text">
                    <h5>Server Name</h5>
                    <h2>{{currentServerItem.FsHostName}}</h2>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="error-msg-text">
                    <h5>FsIPv4</h5>
                    <h2>{{currentServerItem.FsIPv4}}</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="error-msg-text">
                    <h5>Event Time</h5>
                    <h2>{{currentServerItem.EventTime}}</h2>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="x_title">
    <h2>{{currentServerItem.FsHostName}}</h2>
    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="server-status-wrp">
                <div class="server-status  blink_me"
                     ng-class="currentServerItem.serverStatus==true?'online':'offline'"></div>
                <div class="status-txt"
                     ng-if="currentServerItem.serverStatus==true">
                    online
                </div>
                <div class="status-txt"
                     ng-if="currentServerItem.serverStatus==false">
                    offline
                </div>
            </div>

        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="s-per-chart-wrp-l">
                <div class="easy-chart-left">
                    <div class="header-chart">
                        CPU Utilization
                    </div>
                    <div easypiechart options="pieoption" percent="currentServerItem.cpuProcess">
                        <div class="d1-pie-text">{{currentServerItem.cpuProcess}}%</div>
                    </div>
                    <div class="cpu-footer">
                        Server IP : {{currentServerItem.FsIPv4}}
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="row">
                <div class="session-widget">
                    <!--<div class="header">-->
                    <!--SESSION-->
                    <!--</div>-->
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="session-cpu">
                                <div class="count">
                                    {{currentServerItem.SessionsSinceStartUp}}
                                </div>
                                <div class="session-name" title="Connected session count since last startup">
                                    Sessions Since StartUp
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="row">
                            <div class="session-cpu" style="padding-left: 5px;">
                                <div class="count">
                                    {{currentServerItem.SessionCount}}
                                </div>
                                <div class="session-name" title="Current connected session count">
                                    Session Count
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-6">
                        <div class="row">
                            <div class="session-cpu">
                                <div class="count">
                                    {{currentServerItem.SessionsPerSecMax}}
                                </div>
                                <div class="session-name" title="Allowed maximum connected session count per second">
                                    Session Per Sec Max
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="widget-row">
                    <div class="lg-header">
                        {{currentServerItem.UpTimeMSec}}
                    </div>
                    <div class="lg-footer" title="Total server uptime since last startup">
                        Up Time.Sec
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="widget-sm-footer">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="session-cpu sm">
                                <div class="count">
                                    {{currentServerItem.MaxSessions}}
                                </div>
                                <div class="session-name" title="Allowed maximum connected session count">
                                    Max Sessions
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="session-cpu sm">
                                <div class="count">
                                    {{currentServerItem.SessionsPerSec}}
                                </div>
                                <div class="session-name">
                                    Session Per Sec
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>