<div ng-controller="companyInfoCtrl">

    <!-- new model company create -->
    <div ng-if="isCreateNewCompany==true">
        <div ng-include="'app/views/company/temp/create-new-company.html'"></div>
    </div>
    <!-- end -->


    <div class="clearfix"></div>
    <div class="row blur-this">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <!--<div class="table-header-desc">-->
            <!--<div class="tbl-desc-top">-->
            <!--<ul class="pull-left">-->
            <!--<li ng-if="!isLoadingCompany">-->
            <!--{{companyObj.length}} Company-->
            <!--</li>-->
            <!--<li ng-if="isLoadingCompany">-->
            <!--<i class=" fa fa-circle-o-notch fa-spin"></i>-->
            <!--</li>-->
            <!--</ul>-->
            <!---->
            <!--</div>-->
            <!--</div>-->

            <div class="table-widget">

                <!--page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Company Information</h3>
                            </div>

                            <div class="title_right">
                                <div class="table-header-desc">
                                    <div class="tbl-desc-top">
                                        <ul class="pull-right">
                                            <li>
                                                <div class="table-search">
                                                    <input type="text" placeholder="search company here.."
                                                           ng-model="searchCompanyInfo"
                                                           class="form-control" company-info-enter-press="setToSearchString()" company-info-other-press="resetSearch()">
                                                </div>
                                            </li>

                                            <li ng-if="!isLoadingCompany">
                                                <button class="btn btn-orange btn-orange-op" ng-click="searchByCompanyName();">
                                                    By Name
                                                </button>
                                            </li>

                                            <li ng-if="!isLoadingCompany">
                                                <button class="btn btn-orange btn-orange-op" ng-click="searchByNumber();">
                                                    By Number
                                                </button>
                                            </li>

                                            <li ng-if="!isLoadingCompany">
                                                <button class="btn btn-green btn-green-op" ng-click="refreshPage();">
                                                    Refresh
                                                </button>
                                            </li>
                                            <li>
                                                <button ng-if="!isLoadingCompany" ng-click="createNewCompany()"
                                                        class="btn btn-green btn-blue">
                                                    Create New
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-xs-12">
                    <div class="tbl-header">
                        <div class="col-lg-2 col-xs-3">

                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div class="table-header-txt">
                                Company Id
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <div class="table-header-txt tbl-header-left-boarder">
                                Company Name
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-3">
                            <div class="table-header-txt tbl-header-left-boarder">
                                Company Status
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="isLoadingCompany"
                     class="loading-current-view" style="background: transparent;">
                    <!--  loader  -->
                    <svg class="circular">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"></circle>
                    </svg>
                    <div class="loader-section"></div>
                </div>

                <div class="table-body">
                    <!--- data loading -->
                    <div class="col-lg-12 col-xs-12">
                        <div class="table-row animated fadeIn"
                             ng-click="goToCompany(company)"
                             ng-repeat="company in companyFilteredList">
                            <div class="col-lg-2 col-xs-3">

                            </div>
                            <div class="col-lg-3 col-xs-3">
                                <div class="table-body-row">
                                    {{company.companyId}}

                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <div class="table-body-row">
                                    {{company.companyName}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-4">
                                <div class="table-body-row">
                                    {{company.companyStatus}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
