<div ng-controller="companySummaryCtrl">

    <!--page title -->
    <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
    <!--<div class="page-title">-->
    <!--<div class="title_left">-->
    <!--<h3>Company Summary</h3>-->
    <!--</div>-->
    <!--<div class="title_right">-->
    <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
    <!--<div class="input-group pull-right">-->
    <!--<button class="btn btn-default btn-back" type="button">Back</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="clearfix"></div>
    <div ng-if="!isLoadingAll"
         class="row">

        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="company-wrapper animated fadeIn">

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div class="left-company-s-wrp">
                            <div class="company-details-wrp">
                                <div class="company-status"
                                     ng-if="companyObj.companyEnabled"
                                     ng-class="companyObj.companyEnabled==true ?'active-company':'deactivate-company'">
                                    ACTIVE
                                </div>
                                <div class="company-status"
                                     ng-if="!companyObj.companyEnabled"
                                     ng-class="companyObj.companyEnabled==true ?'active-company':'deactivate-company'">
                                    DEACTIVATE
                                </div>
                                <div class="company-log-wrp">
                                    <div class="company-logo">
                                        {{ companyObj.companyName | limitTo:2 }}
                                    </div>
                                    <!--<div class="upload-profile" ng-click="goToCompanySummaryPage('uploadAvatar')">-->
                                    <!--upload-->
                                    <!--</div>-->
                                </div>
                                <h5>{{companyObj.companyName}}</h5>
                                <h4> created at {{companyObj.created_at | date:'MM/dd/yyyy'}}</h4>
                            </div>

                            <!-- company left menu -->
                            <div class="company-left-menu">

                                <div class="box-menu-wrp"
                                     ng-class="currentPage=='companyProfile'?'active':''"
                                     ng-click="goToCompanySummaryPage('companyProfile')">
                                    <ul>
                                        <li class="bold-text">Company Profile</li>
                                    </ul>
                                </div>

                                <div class="box-menu-wrp"
                                     ng-class="currentPage=='companyProvision'?'active':''"
                                     ng-click="goToCompanySummaryPage('companyProvision')">
                                    <ul>
                                        <li class="bold-text">Company Provision</li>
                                    </ul>
                                </div>

                                <div class="box-menu-wrp"
                                     ng-class="currentPage=='consoleAccess'?'active':''"
                                     ng-click="goToCompanySummaryPage('consoleAccess')">
                                    <ul>
                                        <li class="bold-text">Console Access</li>
                                        <li class="pull-right">
                                            <div class="count-round">
                                                {{companyObj.consoleAccessLimits.length}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="box-menu-wrp"
                                     ng-class="currentPage=='companyPackage'?'active':''"
                                     ng-click="goToCompanySummaryPage('companyPackage')">
                                    <ul>
                                        <li class="bold-text">Package Details</li>
                                        <li class="pull-right">
                                            <div ng-click="showAddMyPackage()"
                                                 class="option-menu">
                                                Update Package
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="left-menu-settings">
                                <div class="menu-header">
                                    Setting
                                </div>

                                <div class="setting-menu">
                                    <ul>
                                        <li ng-if="companyObj.companyEnabled==false"
                                            class="menu-name">Activate Company
                                        </li>

                                        <li ng-if="companyObj.companyEnabled==true"
                                            class="menu-name">Deactivate Company
                                        </li>
                                        <li class="pull-right">
                                            <button ng-show="isChangeCompanySatate==false;"
                                                    ng-click="changeCompanyActivation(false)"
                                                    ng-if="companyObj.companyEnabled==true"
                                                    class="btn btn-sm btn-deactivate">
                                                Deactivate
                                            </button>
                                            <button ng-show="isChangeCompanySatate==false;"
                                                    ng-click="changeCompanyActivation(true)"
                                                    ng-if="companyObj.companyEnabled==false"
                                                    class="btn btn-sm btn-activate">
                                                Activate
                                            </button>

                                            <button disabled
                                                    ng-show="isChangeCompanySatate==true;"
                                                    class="btn btn-sm btn-activate">
                                                Please wait...
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="col-lg-8 col-md-8 col-xs-12">

                    <div class="page-title">
                        <div class="title_left">
                            <h3>Company Summary</h3>
                        </div>
                        <div class="title_right">
                            <div class="table-header-desc">
                                <div class="tbl-desc-top">
                                    <ul class="pull-right">
                                        <li>
                                            <button ng-click="backToPage()"
                                                    class="btn btn-green btn-blue">
                                                Back
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="right-company-s-wrp" ng-if="currentPage=='consoleAccess'">
                            <div ng-include="'app/views/company/temp/company-console-access.html'">
                            </div>
                        </div>

                        <div class="right-company-s-wrp" ng-if="currentPage=='companyProvision'">
                            <div ng-include="'app/views/company/temp/company-provision.html'">
                            </div>
                        </div>

                        <div class="right-company-s-wrp" ng-if="currentPage=='companyProfile'">
                            <div ng-include="'app/views/company/temp/company-profile.html'">
                            </div>
                        </div>
                        <div class="right-company-s-wrp" ng-if="currentPage=='companyPackage'">
                            <div ng-include="'app/views/company/temp/company-package.html'">
                            </div>
                        </div>
                        <div class="right-company-s-wrp" ng-if="currentPage=='uploadAvatar'">
                            <div ng-show="uploadAvatar" ng-include="'app/views/company/temp/avatar-upload.html'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- loader all -->
    <div ng-if="isLoadingAll"
         class="loading-current-view" style="background: transparent;">
        <!--  loader  -->
        <svg class="circular">
            <circle class="path"
                    cx="50" cy="50" r="20" fill="none"
                    stroke-width="2">
            </circle>
        </svg>
        <div class="loader-section"></div>
    </div>

    <!-- info data not found or error -->
    <div ng-if="isDataNotFound"
         class="data-not-found">
        <div class="error-icon">
            <img src="assets/img/ui-icon-1/cancel.svg"
                 width="80px"
                 alt=""/>
        </div>
        <h5>
            Company not found
        </h5>
    </div>


    <!-- new model company create -->
    <div ng-if="isUpdateNewPackage==true">
        <div ng-include="'app/views/company/temp/update-company-package.html'"></div>
    </div>
    <!-- end -->

    <!-- edit company basic info -->
    <div ng-if="isUpdateCompanyInfo==true">
        <div ng-include="'app/views/company/temp/edit-basic-info.html'"></div>
    </div>
</div>