<div>

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div class="title_left">
                    <h3>Create New Company</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>New Company</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps anchor">
                            <li>
                                <a ng-class="wizard_1_Style" isdone="wizard_1_isDone" rel="1">
                                    <span class="step_no">1</span>
                            <span class="step_descr">
                                              Create<br>
                                              <small>Create New Company</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a ng-class="wizard_2_Style" isdone="wizard_2_isDone" rel="2">
                                    <span class="step_no">2</span>
                            <span class="step_descr">
                                              Package<br>
                                              <small>Assign or Upgrade Package & Units</small>
                                          </span>
                                </a>
                            </li>
                        </ul>


                        <div class="stepContainer" style="height: 281px;">
                            <div id="step-1" class="content" ng-show="wizard_1_Style === 'selected'">
                                <form class="form-horizontal form-label-left" novalidate>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CompanyName">Company
                                            Name <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="CompanyName" ng-model="companyData.companyname" required="required"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mail">Email <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" id="mail" ng-model="companyData.mail" required="required"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="password" id="password" ng-model="companyData.password" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="passwordConfirm">Confirm Password <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="password" id="passwordConfirm" ng-model="companyData.confirm" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div id="step-2" class="content" ng-hide="wizard_1_Style === 'selected'">
                                <form class="form-horizontal form-label-left">

                                    <div class="form-group" ng-if="!searchBoxStaus">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CompanyId">Search Company <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" id="CompanyId" ng-model="companyData.companyId" required="required"
                                                       class="form-control col-md-7 col-xs-12" placeholder="Company Id">
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">

                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                    <button class="buttonNext btn btn-success pull-right" ng-click="getCompanyDetail(companyData.companyId)">Search</button>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-12">

                                                    <i class="ti-check" ng-if="searchStatus === 'true'"></i>
                                                    <i class="ti-close" ng-if="searchStatus === 'false'"></i>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="typeList">Type <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" id="typeList"
                                                    ng-model="packageData.assignType"
                                                    required="required"
                                                    ng-disabled="!companyDetail">
                                                <option disabled selected>Choose Assign Type</option>
                                                <option value="package">Package</option>
                                                <option value="unit">Unit</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="packageList">Package Name <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" id="packageList" ng-model="packageData.packageName" required="required" ng-disabled="!companyDetail">
                                                <option disabled selected>Choose Package</option>
                                                <option ng-if="packageData.assignType === 'package'" ng-repeat="package in packageDetails" value="{{package.packageName}}">{{package.packageName}}</option>
                                                <option ng-if="packageData.assignType === 'unit'" ng-repeat="package in companyDetail.packages" value="{{package}}">{{package}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="packageData.assignType === 'unit'">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="unitList">Unit Name <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" id="unitList" ng-change="unitChange()"
                                                    ng-model="packageData.unitIndex"
                                                    required="required"
                                                    ng-disabled="!companyDetail">
                                                <option disabled selected>Choose Unit</option>
                                                <option ng-repeat="unit in unitDetails" value="{{$index}}">{{unit.unitName}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="packageData.assignType === 'unit' && packageData.unit && packageData.unit.unitType !== 'spaceLimit'">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="topUpCount">TopUp Count <span class="required">*</span>
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control" min="1" id="topUpCount" required ng-disabled="!companyDetail"
                                                   ng-pattern="/^(?:100|[1-9]?[0-9])$/" ng-model="packageData.topUpCount" value="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        </label>

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button class="btn btn-primary pull-right" type="button" ng-click="updatePackage()">Update</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="actionBar">
                            <button class="buttonFinish btn btn-default" ng-disabled="currentWizard === 1" ng-click="resetForm()">Finish</button>
                            <button class="buttonNext btn btn-success" ng-click="nextWizard()" ng-disabled="currentWizard === 2">Next</button>
                            <button class="buttonPrevious btn btn-primary" ng-click="previousWizard()" ng-disabled="currentWizard === 1">Previous</button>
                            <button class="btn btn-primary" type="reset" ng-click="resetForm()">Reset</button>
                        </div>
                    </div>
                    <!-- End SmartWizard Content -->
                </div>
            </div>
        </div>

    </div>

</div>