
.sign-in-wrp {
    background: rgb(255, 255, 255);
    width: 100%;
    min-height: 400px;
    /*overflow: hidden;*/
    position: relative;
    margin-top: 50%;
    /*border-radius: 5px;*/
    z-index: 1000;
}

.sign-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    /* Rectangle: */
    background-image: linear-gradient(-180deg, rgb(62, 215, 131) 0%, rgba(255, 255, 255, 1) 100%);
}

.image-erp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
}

.sign-header {
    /* SIGN IN: */
    font-family: Roboto-Bold;
    font-size: 19px;
    color: #3ED783;
    letter-spacing: -0.15px;

}

.sign-in-wrp {
    padding: 100px 45px 45px 45px;
}

.sign-header-img {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10px;
}

.header-txt {
    font-family: "hammersmithOne-regular", sans-serif;
    font-size: 22px;
    color: #000;
    padding-bottom: 30px;
    letter-spacing: 0.2px;
}

.sign-txt {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-bottom-wrp {
    width: 100%;
    min-height: 20px;
    overflow: hidden;
    position: relative;
    padding-top: 15px;
}

.btn-green {
    background: #3ED783;
    color: #fff;
    font-family: "hammersmithOne-regular", sans-serif;
    font-size: 13px;
    padding: 7px 10px 7px 10px;
    border: 0px;
    letter-spacing: 0.4px;
}

.sing-lbl {
    font-family: "roboto-light", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.sign-up-text-wrp {
    width: 100%;
    min-height: 150px;
    overflow: hidden;
    position: relative;
    margin-top: 40%;
    /*border-radius: 5px;*/
    z-index: 1000;
}

.sign-up-text-wrp > .header {
    font-family: "roboto-blod", sans-serif;
    text-align: left;
    color: #ffffff;
    font-size: 38px;
}

.sign-up-text-wrp > .sub-header {
    font-family: "roboto-blod", sans-serif;
    text-align: left;
    color: #000000;
    font-size: 15px;
}