<div ng-controller="trunkConfigurationCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div class="title_left">
                    <h3>Trunk Configuration</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <button type="button" class="btn" ng-class="dynamicCss" ng-click="onClickCollapsed()">{{collapsedButton}}</button>
            <button type="button" ng-if="appState === 'PHONELIST'" class="btn trunk-app-button-dynamic-execute" ng-click="onClickAddNewNumber()">Add Number</button>
        </div>
        <div ng-if="appState === 'TRUNKSAVE' || appState === 'TRUNKUPDATE'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x-title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>{{status}} Trunk Configuration</h2>
                    <div class="ln_solid"></div>
                </div>

            </div>
            <div class="clearfix"></div>
            <br>

            <div class="x-content">

                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" target="_self" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Basic Configurations</a>
                        </li>
                        <li role="presentation" class="">
                            <a ng-if="appState === 'TRUNKUPDATE'" href="#tab_content2" role="tab" target="_self" id="ipaddress-tab" data-toggle="tab" aria-expanded="false">Allowed IP Configuration</a>
                        </li>
                        <li role="presentation" class="">
                            <a ng-if="appState === 'TRUNKUPDATE'" href="#tab_content3" role="tab" target="_self" id="termination-tab" data-toggle="tab" aria-expanded="false">Trunk Termination</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Trunk Code *</label>
                                        <input type="text" class="form-control" ng-disabled="appState === 'TRUNKUPDATE'"
                                               ng-model="currentTrunk.TrunkCode">
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Trunk Name *</label>
                                        <input type="text" class="form-control"
                                               ng-model="currentTrunk.TrunkName">
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Gateway Ip</label>
                                        <input type="text" class="form-control"
                                               ng-model="currentTrunk.IpUrl">
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control"
                                               ng-model="currentTrunk.Username">
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Password</label>
                                        <input type="text" class="form-control"
                                               ng-model="currentTrunk.Password">
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                                        <label>Trunk Outgoing Number Translation</label>
                                        <select class="select2_single form-control" tabindex="-1"
                                                aria-hidden="true"
                                                id="transTrunk"
                                                name="transTrunk" ng-model="currentTrunk.TranslationId"
                                                ng-model-options="{trackBy: '$value'}">
                                            <option value="">
                                            </option>
                                            <option ng-repeat="trans in transList" value="{{trans.id}}">{{trans.TransName}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <div style="position: relative; top: 30px">
                                            <label>Enable</label>
                                            <input type="checkbox" ng-model="currentTrunk.Enable">
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <h4><b>Available Codecs</b></h4>
                                        <div style="border-style: solid; padding: 10px">
                                            <ul data-as-sortable="codecSortableGroupTr" data-ng-model="availableCodecs" style="position: relative; left: -40px; min-height: 40px;">
                                                <li ng-repeat="item in availableCodecs" data-as-sortable-item style="background-color: #2694e8; color: black; font-weight: bold; padding: 4px">
                                                    <div data-as-sortable-item-handle>
                                                        {{item}}
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <h4><b>Used Codecs</b></h4>
                                        <div style="border-style: solid; padding: 10px">
                                            <ul data-as-sortable="codecSortableGroupTr" data-ng-model="currentCodecs" style="position: relative; left: -40px; min-height: 40px;">
                                                <li ng-repeat="item in currentCodecs" data-as-sortable-item style="background-color: green; color: black; font-weight: bold; padding: 4px">
                                                    <div data-as-sortable-item-handle>
                                                        {{item}}
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <br>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <button type="submit" ng-disabled="!currentTrunk.TrunkCode || !currentTrunk.TrunkName" class="btn btn-success"
                                                ng-click="addNewTrunk()">{{status}}
                                        </button>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <button ng-if="status === 'Save'" class="btn btn-primary"
                                                ng-click="resetForm()">Reset
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="ip-tab">
                            <div class="form-group">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label>Ip Range</label>
                                        <input type="text" class="form-control"
                                               ng-model="ipRangeData.IpAddress">
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="position: relative; top: 30px;">
                                            <h2>/</h2>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <label>Mask</label>
                                            <input type="text" class="form-control" ng-model="ipRangeData.Mask">
                                        </div>

                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                                        <button class="btn btn-success" style="position: relative; top: 24px;" ng-click="addIpAddress(trunk)">
                                            Add Ip
                                        </button>
                                    </div>

                                    <div class="clearfix"></div>
                                    <br>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Remove Current Ip Addresses</label>
                                            <tags-input ng-model="currentTrunk.IpAddressList" placeholder="." display-property="DisplayValue" on-tag-removing="ipAddressDelete($tag)" on-tag-adding="tagAdding($tag)">
                                            </tags-input>
                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="termination-tab">
                            <div class="form-group">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label>Termination Type</label>
                                        <select class="select2_single form-control" tabindex="-1" aria-hidden="true"
                                                name="role" ng-model="terminationInfo.TerminationType">
                                            <option value="CLOUD">CLOUD</option>
                                            <option value="PROFILE">PROFILE</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" ng-show="terminationInfo.TerminationType === 'CLOUD'">
                                        <label>Cloud</label>
                                        <select class="select2_single form-control" tabindex="-1"
                                                aria-hidden="true"
                                                id="cloud"
                                                name="cloud" ng-model="terminationInfo.CloudId"
                                                ng-model-options="{trackBy: '$value'}">
                                            <option value=""></option>
                                            <option ng-repeat="cloud in cloudList" value="{{cloud.id}}">{{cloud.Name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12" ng-show="terminationInfo.TerminationType === 'PROFILE'">
                                        <label>Profile</label>
                                        <select class="select2_single form-control" tabindex="-1"
                                                aria-hidden="true"
                                                id="profile"
                                                name="profile" ng-model="terminationInfo.ProfileId"
                                                ng-model-options="{trackBy: '$value'}">
                                            <option value=""></option>
                                            <option ng-repeat="profile in profileList" value="{{profile.id}}">{{profile.ProfileName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                                        <button class="btn btn-success" style="position: relative; top: 24px;" ng-click="setTerminationData()">
                                            Add Termination Point
                                        </button>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div ng-if="appState === 'PHONESAVE' || appState === 'PHONEUPDATE'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x-title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>{{status}} Phone Number Configuration<b class="pull-right" style="border-radius: 4px; background-color: yellow; padding: 5px">TRUNK : {{currentTrunk.TrunkCode}}</b></h2>
                    <div class="ln_solid"></div>
                </div>

            </div>
            <div class="clearfix"></div>
            <br>

            <div class="x-content">

                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label>Phone Number *</label>
                            <input type="text" ng-disabled="appState === 'PHONEUPDATE'" class="form-control"
                                   ng-model="phnNum.PhoneNumber">
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label>Number Type *</label>
                            <select class="select2_single form-control" tabindex="-1" aria-hidden="true"
                                    placeholder="Role" name="role" ng-model="phnNum.ObjCategory">
                                <option value="INBOUND">INBOUND</option>
                                <option value="OUTBOUND">OUTBOUND</option>
                                <option value="BOTH">BOTH</option>
                                <option value="FAX">FAX</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label>Company *</label>
                            <select class="select2_single form-control" tabindex="-1"
                                    aria-hidden="true"
                                    id="company"
                                    name="company" ng-model="phnNum.ClientCompany"
                                    ng-model-options="{trackBy: '$value'}">
                                <option ng-repeat="comp in companyList" value="{{comp.companyId}}">{{comp.companyName}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div style="position: relative; top: 30px;">
                                <label>Enable</label>
                                <input type="checkbox" class="btn-success" ng-model="phnNum.Enable">
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label>Inbound Limit</label>
                            <input type="number" class="form-control"
                                   ng-model="phnNum.InboundLimit">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label>Outbound Limit</label>
                            <input type="number" class="form-control"
                                   ng-model="phnNum.OutboundLimit">
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label>Both Limit</label>
                            <input type="number" class="form-control"
                                   ng-model="phnNum.BothLimit">
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button type="submit" ng-disabled="!phnNum.PhoneNumber || !phnNum.ObjCategory || !phnNum.ClientCompany" class="btn btn-success"
                                    ng-click="addPhoneNumber()">{{status}}
                            </button>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button ng-if="status === 'Save'" class="btn btn-primary"
                                    ng-click="resetPhoneForm()">Reset
                            </button>
                        </div>

                    </div>

                </div>


            </div>

        </div>

        <div ng-if="appState === 'TRUNKLIST'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x-title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Trunk List</h2>

                    <div class="ln_solid"></div>

                </div>

            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchCriteriaTrunk" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                    </div>
                </div>

            </div>

            <div class="x-content">
                <div class="form-group">
                    <div class="x_panel col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in trunkList | filterBy: ['TrunkCode', 'TrunkName']: searchCriteriaTrunk">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <b>{{item.TrunkCode}}</b>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <b>{{item.TrunkName}}</b>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <b>{{item.IpUrl}}</b>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <div ng-if="item.PingStatus === 'UP'" style="border-radius: 5px; background: #5ead6e; height: 35px;">
                                <i class="fa fa-heartbeat fa-2x" style="color: white; padding-left: 15px; padding-top:2px">

                                </i>
                                <i style="font-size: medium; font-weight: bold; padding-left:30px; color:white;">Up</i>
                                <i style="font-size: medium; font-weight: bold; padding-left:50px; color:white;">{{item.LastEventTime}}</i>

                            </div>

                            <div ng-if="item.PingStatus === 'DOWN'" style="border-radius: 5px; background: #ad3f39; height: 35px;">
                                <i class="fa fa-warning fa-2x" style="color: white; padding-left: 15px; padding-top:2px">
                                </i>
                                <i style="font-size: medium; font-weight: bold; padding-left:30px; color:white;">Down</i>
                                <i style="font-size: medium; font-weight: bold; padding-left:50px; color:white;">{{item.LastEventTime}}</i>
                            </div>

                            <div ng-if="item.PingStatus === 'UNKNOWN'" style="border-radius: 5px; background: #ada641; height: 35px;">
                                <i class="fa fa-question-circle fa-2x" style="color: white; padding-left: 15px; padding-top:2px">
                                </i>
                                <i style="font-size: medium; font-weight: bold; padding-left:30px; color:white;">Unknown</i>
                                <i style="font-size: medium; font-weight: bold; padding-left:50px; color:white;">{{item.LastEventTime}}</i>

                            </div>
                        </div>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link" ng-click="editTrunk(item)"><i class="fa fa-edit" style="color: black"></i></a>
                            </li>
                            <li><a class="collapse-link" ng-click="showNumberList(item)"><i class="fa fa-phone" style="color: black"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

        <div ng-if="appState === 'PHONELIST'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 x_panel">
            <div class="x-title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Phone Number List<b class="pull-right" style="border-radius: 4px; background-color: yellow; padding: 5px">TRUNK : {{currentTrunk.TrunkCode}}</b></h2>
                    <div class="ln_solid"></div>
                </div>

            </div>
            <div class="clearfix"></div>
            <br>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchCriteriaPhone" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                    </div>
                </div>

            </div>

            <div class="x-content">
                <div class="form-group">
                    <div class="x_panel col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in phoneNumberList | filterBy: ['PhoneNumber']: searchCriteriaPhone">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <b>{{item.PhoneNumber}}</b>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <b>Company : {{item.CompanyId}}</b>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <b>Tenant : {{item.TenantId}}</b>
                        </div>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link" ng-click="editPhone(item)"><i class="fa fa-edit" style="color: black"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>